*{
    margin:0;
    padding: 0;
}

body{
    background: #fff;
    font-family: 'Open Sans','Arial';
}

#gig h3{
    text-transform: capitalize;
    font-size:26px;
    font-weight:600;
}

#gig p{
    font-size:16px;
    font-weight:normal;
}

#gig h5{
    font-size:16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(50,200,255);
}

#artist h2{
    font-size: 25px;
    font-weight: 500;

}

#artist div{
    font-size:14px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 40px;
}

.venue{
    font-size: 18px;
    margin-bottom: 20px;
}

.date{
     font-size: 18px;
    margin-bottom: 20px;
    color:lightblue;
}