<%   include ../partials/header %>


 <h2>Gigs am attending</h2>
 <ul>
<% gigs.gigsAmGoing.forEach(function(gig){ %>
 <li><h4><%= gig.title %></h4>
 
 <div><form action="/user/attending/gigs/<%= gig._id %>/remove" method="POST">
 <button class="btn btn-xs btn-danger">Cancel</button>

</form></div>
 </li><br>
<% }) %>




</ul>

<%   include ../partials/footer %>